[
{:db/id #db/id[:db.part/db]
 :db/ident :item/name
 :db/unique :db.unique/value
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db/fulltext true
 :db/doc "A items's name"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :item/count
 :db/valueType :db.type/long
 :db/cardinality :db.cardinality/one
 :db/doc "A item's count"
 :db.install/_attribute :db.part/db}
 
{:db/id #db/id[:db.part/db]
 :db/ident :item/price
 :db/valueType :db.type/double
 :db/cardinality :db.cardinality/one
 :db/doc "A item's price"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :item/codes
 :db/valueType :db.type/string 
 :db/cardinality :db.cardinality/many
 :db/fulltext true
 :db/doc "A items's code"
 :db.install/_attribute :db.part/db}
 
{:db/id #db/id [:db.part/db]
 :db/ident :item/linked
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/one
 :db/doc "Linked articles"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :item/lineItems
 :db/isComponent true
 :db/valueType :db.type/ref
 :db/cardinality :db.cardinality/many
 :db/doc "line item"
 :db.install/_attribute :db.part/db}

{:db/id #db/id [:db.part/db]
 :db/ident :lineItem/code
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db/doc "Line item code"
 :db.install/_attribute :db.part/db}
]
